body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #FFC0CB, #87CEEB);
}

.music-player {
    text-align: center;
}

.album-cover {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 15px 17px 25px blue;
    margin-bottom: 20px;
    border: 10px solid;
}  

.controls button {
    font-size: 50px;
}



@keyframes rotation {
    from {
        transform: rotate(0deg);
        
    }
    to {
        transform: rotate(360deg);
       
        
    
    }
}
